@using EMS.Core.Constants

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Employee/css/Register.css" asp-append-version="true" />
    <link href="~/toastr.js/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="width: 650px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Employee/js/site.js" asp-append-version="true"></script>
    <script src="~/Employee/js/BootstrapValidation.js"></script>
    <script src="~/toastr.js/toastr.min.js"></script>

    @if (TempData.ContainsKey(ToastrMessages.EmpEmailExists))
    {
        <script>
            toastr.options = {
                positionClass: 'toast-top-left'
            };
            toastr.error('@ToastrMessages.EmpEmailExists');
        </script>
        @TempData.Remove(ToastrMessages.EmpEmailExists)
    }
    <partial name="_ValidationScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
