:root {
    --clr-primary: #10a37f;
    --clr-neutral-200: #c2c8d0;
    --clr-neutral-300: #999;
    --transition: 0.2s ease;
    --br: 3px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 450px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    --spacing-default: 16px;
    --spacing-top: var(--spacing-default);
    --spacing-left: var(--spacing-default);
    --spacing-right: var(--spacing-default);
    --spacing-bottom: var(--spacing-default);
    --spacing-top-offset: -0.7;
    --spacing-left-offset: 0.5;
    margin-block: 4rem;
}

.form-group {
    position: relative;
}

.form input, select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 100%;
    border: 1px solid var(--clr-neutral-200);
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    transition: var(--transition);
    font-size: 14px;
}

    .form input:focus, select:focus {
        outline: none;
        border-color: #0f56a6;
    }

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #3181d2;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

    .form button:hover, .form button:active, .form button:focus {
        background: #0f56a6;
    }

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

    .form .message a {
        color: #3181d2;
        text-decoration: none;
    }



body {
    background: linear-gradient(90deg, #0f56a6 0%, #3181d2 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,select,
button[type="submit"] {
    border-radius: var(--br);
    padding-block: var(--spacing-top) var(--spacing-bottom);
    padding-inline: var(--spacing-right) var(--spacing-left);
    font: inherit;
}

label {
    position: absolute;
    top: var(--spacing-top);
    left: var(--spacing-left);
    font-size: 16px;
    pointer-events: none;
    transition: var(--transition);
}

input:focus ~ label,
input:valid ~ label,
select:focus ~ label,
select:valid ~ label{
    top: calc(var(--spacing-top) * var(--spacing-top-offset));
    left: calc(var(--spacing-left) * var(--spacing-left-offset));
    font-size: 15px;
    padding-inline: 4px;
    color: #3181d2;
    background-color: #fff;
}


input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

.select {
    box-shadow: 1.97px 2.26px 4px #0000000d !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 3px !important;
}

select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

    select.minimal:focus {
        background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        border-color: #3181d2;
        outline: 0;
    }