@using EMS.Core.Constants;
@model SpEmployeeListsViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = Resourses.EmpManagement;
}

<link href="~/lib/mdbbootstrap/css/mdb.min.css" rel="stylesheet" />
<h2>Employee</h2>

<div class="mt-4">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-responsive mb-0">
                    <thead>
                        <tr>
                            <th scope="row" class="th-lg">User Name</a></th>
                            <th class="th-lg">Email</th>
                            <th class="th-lg">Date of Birth</th>
                            <th class="th-lg">Gender</th>
                            <th class="th-lg">IsLocked</th>
                            <th class="th-lg"></th>
                        </tr>
                    </thead>
                    <tbody id="EmpListsTable">
                        <partial name="@PartialViews._EmpListsPartial" model="Model" />
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <nav class="my-4 pt-2">
                    <partial name="@PartialViews._EmpPagination" model="Model" />
                </nav>
            </div>
        </div>
    </div>

</div>
