@using EMS.Core.Constants

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = Resourses.AdminDash;
    var httpContext = Context.Request.HttpContext;
    var username = httpContext.Session.GetString("AdminUsername");
}

<h1>
    Welcome
    <small>@username</small>
</h1>
